.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--second-bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 70px;
  height: 70px;
}

.feature-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
